@page
@using gpconnect_appointment_checker.Helpers
@model LogoutModel
@using gpconnect_appointment_checker.Helpers.Constants

@if (User.Identity.IsAuthenticated)
{
    <div style="color: #ffffff; font-style: italic">
        @User.GetClaimValue("Email")<br />
        @User.GetClaimValue("ODS")&nbsp;(@User.GetClaimValue("OrganisationName"))
    </div>
    
    @Html.ActionLink(@SearchConstants.SIGNOUTBUTTONTEXT, "Logout", "Auth", null, new { @style = "color:#ffffff" })
}
