@using gpconnect_appointment_checker.Helpers
@using gpconnect_appointment_checker.Helpers.Constants
@model SearchModel

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-care-card">
            <div class="nhsuk-care-card__heading-container">
                <h3 class="nhsuk-care-card__heading"><span role="text">@SearchConstants.SEARCHRESULTSSEARCHATTEXT</span></h3>
                <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
            </div>
            <div class="nhsuk-care-card__content">
                <p>@Model.SearchAtResultsText</p>
                <p><em>@SearchConstants.SEARCHRESULTSPUBLISHERLABEL</em>&nbsp;@Model.ProviderPublisher</p>
            </div>
        </div>
        <div class="nhsuk-care-card">
            <div class="nhsuk-care-card__heading-container">
                <h3 class="nhsuk-care-card__heading"><span role="text">@SearchConstants.SEARCHRESULTSSEARCHONBEHALFOFTEXT</span></h3>
                <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
            </div>
            <div class="nhsuk-care-card__content">@Html.Raw(Model.SearchOnBehalfOfResultsText)</div>
        </div>

        <partial name="StatsCount" />

        @if (Model.SearchResults?.Count > 0)
        {            
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <button class="nhsuk-button" asp-page-handler="ExportSearchResults" type="submit">@SearchConstants.EXPORTSEARCHRESULTSBUTTONTEXT</button>
                </div>
            </div>

            foreach (var locationGrouping in Model.SearchResults)
            {
                var firstLocation = locationGrouping.FirstOrDefault();
                if (firstLocation != null)
                {
                    <h4>
                        @firstLocation.LocationName<br />
                        @if (!firstLocation.NoAddressProvided)
                        {
                            @StringExtensions.AddressBuilder(firstLocation.LocationAddressLines, firstLocation.LocationDistrict, firstLocation.LocationCity, firstLocation.LocationPostalCode, firstLocation.LocationCountry)
                        }
                        else
                        {
                            <em>@SearchConstants.SEARCHRESULTSNOADDRESSPROVIDEDTEXT</em>
                        }
                    </h4>
                }
                <div class="nhsuk-table__panel-with-heading-tab">
                    <table role="table" class="nhsuk-table-responsive">
                        <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">@SearchConstants.SEARCHRESULTSAVAILABLEAPPOINTMENTSLOTSTEXT</caption>
                        <thead role="rowgroup" class="nhsuk-table__head">
                            <tr role="row">
                                <th role="columnheader" class="" scope="col">@SearchConstants.SEARCHRESULTSAPPOINTMENTDATECOLUMNHEADERTEXT</th>
                                <th role="columnheader" class="" scope="col">@SearchConstants.SEARCHRESULTSSESSIONNAMECOLUMNHEADERTEXT</th>
                                <th role="columnheader" class="" scope="col">@SearchConstants.SEARCHRESULTSSTARTTIMECOLUMNHEADERTEXT</th>
                                <th role="columnheader" class="" scope="col">@SearchConstants.SEARCHRESULTSDURATIONCOLUMNHEADERTEXT</th>
                                <th role="columnheader" class="" scope="col">@SearchConstants.SEARCHRESULTSSLOTTYPECOLUMNHEADERTEXT</th>
                                <th role="columnheader" class="" scope="col">@SearchConstants.SEARCHRESULTSMODEOFAPPOINTMENTCOLUMNHEADERTEXT</th>
                                <th role="columnheader" class="" scope="col">@SearchConstants.SEARCHRESULTSPRACTITIONERCOLUMNHEADERTEXT</th>
                            </tr>
                        </thead>
                        <tbody class="nhsuk-table__body">
                            @foreach (var t in locationGrouping)
                            {
                                var practitionerPrefix = !string.IsNullOrEmpty(t.PractitionerPrefix) ? $"({t.PractitionerPrefix})" : string.Empty;
                                <tr role="row" class="nhsuk-table__row  @if (t.SlotInPast){ <text>nhsuk-row-warning</text> }">
                                    <td role="cell" class="nhsuk-table__cell">@t.AppointmentDate.DateFormatter("ddd dd MMM yyyy")</td>
                                    <td role="cell" class="nhsuk-table__cell">@t.SessionName</td>
                                    <td role="cell" class="nhsuk-table__cell">@t.StartTime.DateFormatter("t")</td>
                                    <td role="cell" class="nhsuk-table__cell">@t.Duration.UnitsFormatter("mins")</td>
                                    <td role="cell" class="nhsuk-table__cell">@t.SlotType</td>
                                    <td role="cell" class="nhsuk-table__cell">@t.DeliveryChannel</td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        @t.PractitionerFamilyName.ToUpper(),&nbsp;@t.PractitionerGivenName&nbsp;@practitionerPrefix
                                        <div>@t.PractitionerRole</div>
                                        <div>@t.PractitionerGender.FirstCharToUpper()</div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        }
        else
        {
            <p>@SearchConstants.SEARCHRESULTSNOAVAILABLEAPPOINTMENTSLOTSTEXT</p>
        }
    </div>
</div>
