@page "/Search/{searchBy?}"
@using gpconnect_appointment_checker.Helpers.Constants
@model SearchModel

<form method="post" id="search-input-form">
    <partial name="SearchInput" />

    @if (Model.IsMultiSearch)
    {
        @if (!string.IsNullOrEmpty(Model.ProviderOdsCode) && !string.IsNullOrEmpty(Model.ConsumerOdsCode) && !Model.ValidSearchCombination)
        {
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <div class="nhsuk-warning-callout">
                        <h3 class="nhsuk-warning-callout__label">@SearchConstants.ISSUEWITHODSCODESINPUTLABEL</h3>
                        <p>@SearchConstants.ISSUEWITHODSCODESINPUTTEXT</p>
                    </div>
                </div>
            </div>
        }
        else
        {
            @if (Model.SearchResultsSummary != null && Model.SearchResults == null)
            {
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <button class="nhsuk-button" asp-page-handler="ExportSearchGroupResults" asp-route-searchgroupid="@Model.SearchGroupId" type="submit">@SearchConstants.EXPORTSEARCHRESULTSBUTTONTEXT</button>
                    </div>
                </div>
                <partial name="SearchResultsSummary" />

            }
        }
    }
    else
    {
        @if (Model.SearchResultsSummary == null && Model.SearchResults != null)
        {
            @if (!Model.ConsumerEnabledForGpConnectAppointmentManagement)
            {
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-warning-callout">
                            <h3 class="nhsuk-warning-callout__label">@SearchConstants.ISSUEWITHGPCONNECTCONSUMERLABEL</h3>
                            <p>@string.Format(SearchConstants.ISSUEWITHGPCONNECTCONSUMERNOTENABLEDTEXT, Model.ConsumerOdsCode)</p>
                        </div>
                    </div>
                </div>
            }

            <partial name="SearchResults" />
            <partial name="SearchStats" />
        }
        else
        {
            <partial name="CodeErrorSingle" />
        }
    }
</form>