@model SearchModel

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
                <p><label class="nhsuk-label" for="input-with-hint-text">Provider of appointments<span class="nhsuk-hint">(search at):</span></label></p>
            </div>
            <div class="nhsuk-grid-column-two-thirds">
                <p><input class="nhsuk-input nhsuk-input--width-10" id="input-providerodscode" required asp-for="@Model.ProviderODSCode" name="providerodscode" type="text" aria-describedby="input-providerodscode"></p>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
                <p><label class="nhsuk-label" for="input-with-hint-text">Organisation attempting the booking<span class="nhsuk-hint">(search on behalf of):</span></label></p>
            </div>
            <div class="nhsuk-grid-column-two-thirds">
                <p><input class="nhsuk-input nhsuk-input--width-10" id="input-consumerodscode" required asp-for="@Model.ConsumerODSCode" name="consumerodscode" type="text" aria-describedby="input-consumerodscode"></p>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
                <p><label class="nhsuk-label" for="input-with-hint-text">Date range:</label></p>
            </div>
            <div class="nhsuk-grid-column-two-thirds">
                <p><select asp-for="@Model.SelectedDateRange" asp-items="@Model.DateRanges" class="nhsuk-select" id="@Model.SelectedDateRange"></select></p>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">&nbsp;</div>
            <div class="nhsuk-grid-column-two-thirds">
                <button type="submit" asp-page-handler="Search" class="nhsuk-button">Search for free slots</button>
                <button type="submit" asp-page-handler="Clear" class="nhsuk-button nhsuk-button--secondary">Clear</button>
            </div>
        </div>
    </div>
</div>