@using gpconnect_appointment_checker.Helpers.Constants

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>@Html.Raw(string.Format(SearchConstants.SEARCHSTATSTEXT, Model.SearchDuration.ToString("#.##s"), DateTimeOffset.Now.ToString("d MMM yyyy HH:mm:ss"), Model.SearchResultsCount))</p>
        </div>
    </div>
</div>

<p>@DateTime.Now</p>
<p>@DateTime.UtcNow</p>
<p>@DateTimeOffset.Now</p>
<p>@DateTimeOffset.UtcNow</p>
<p>@DateTime.SpecifyKind(DateTime.Now, DateTimeKind.Local)</p>
<p>@DateTime.SpecifyKind(DateTime.Now, DateTimeKind.Unspecified)</p>
<p>@DateTime.SpecifyKind(DateTime.Now, DateTimeKind.Utc)</p>
<p>@DateTime.SpecifyKind(DateTime.UtcNow, DateTimeKind.Local)</p>
<p>@DateTime.SpecifyKind(DateTime.UtcNow, DateTimeKind.Unspecified)</p>
<p>@DateTime.SpecifyKind(DateTime.UtcNow, DateTimeKind.Utc)</p>