@model gpconnect_appointment_checker.ViewModels.Search.SearchForm

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-providerodscode">@Model.SearchAtText</label>
            <input class="nhsuk-input nhsuk-input--width-10" id="input-providerodscode" name="providerodscode" type="text" aria-describedby="input-width-10-hint" value="@Model.ProviderODSCode">
        </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-consumerodscode">@Model.SearchOnBehalfOfText</label>
            <input class="nhsuk-input nhsuk-input--width-10" id="input-consumerodscode" name="consumerodscode" type="text" aria-describedby="input-width-10-hint" value="@Model.ConsumerODSCode">
        </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-daterange">@Model.DateRangeText</label>
            <select asp-for="@Model.SelectedDateRange"
                    asp-items="@Model.DateRanges"
                    class="nhsuk-select"
                    name="daterange"
                    id="input-daterange">
            </select>
        </div>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <button class="nhsuk-button" type="button">@Model.SearchButtonText</button>
    </div>
    <div class="nhsuk-grid-column-one-third">
        <button class="nhsuk-button nhsuk-button--secondary" type="button">@Model.ClearButtonText</button>
    </div>
</div>

@if (Model.SearchResults != null  && Model.SearchResults.Count > 0)
{
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-table__panel-with-heading-tab">
                <h3 class="nhsuk-table__heading-tab">@Model.SearchResultsHeadingText</h3>
                <div class="nhsuk-table-responsive">
                    <table class="nhsuk-table-responsive">
                        <thead>
                        <tr class="nhsuk-table__row"> 
                            @foreach (var column in Model.ResultColumns)
                            {
                                <th class="nhsuk-table__header" scope="col">@column</th>
                            }
                        </tr>
                        </thead>
                        <tbody class="nhsuk-table__body">
                        @foreach (var searchResult in Model.SearchResults)
                        {
                            <tr class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">@searchResult.AppointmentDate</td>
                                <td class="nhsuk-table__cell">@searchResult.Location</td>
                                <td class="nhsuk-table__cell">@searchResult.SessionName</td>
                                <td class="nhsuk-table__cell">@searchResult.StartTime</td>
                                <td class="nhsuk-table__cell">@searchResult.Duration</td>
                                <td class="nhsuk-table__cell">@searchResult.SlotType</td>
                                <td class="nhsuk-table__cell">@searchResult.DeliveryChannel</td>
                                <td class="nhsuk-table__cell">@searchResult.Practitioner</td>
                                <td class="nhsuk-table__cell">@searchResult.PractitionerRole</td>
                                <td class="nhsuk-table__cell">@searchResult.PractitionerGender</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>Search took 1<text>s</text> and completed at @DateTime.Now.ToString("d MMM yyyy HH:mm:ss")</p>
            </div>
        </div>
    </div>
}