@page
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using gpconnect_appointment_checker.Helpers.Constants
@model CreateAccountModel
@addTagHelper *, gpconnect-appointment-checker

@{
    var jobRoleInvalid = Model.ModelState["JobRole"]?.ValidationState == ModelValidationState.Invalid;
    var organisationInvalid = Model.ModelState["Organisation"]?.ValidationState == ModelValidationState.Invalid;
    var accessRequestReasonInvalid = Model.ModelState["AccessRequestReason"]?.ValidationState == ModelValidationState.Invalid;
}

<form method="post" id="search-input-form">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <h2>@SearchConstants.Registertousetext</h2>
            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="input-username">@SearchConstants.Usernamelabel</label>
                <input class="nhsuk-input" id="input-username" asp-for="@Model.UserName" name="username" value="@Model.UserName" type="text" disabled>
            </div>
            <div class="nhsuk-form-group @(jobRoleInvalid ? "nhsuk-form-group--error": string.Empty)">
                <label class="nhsuk-label" for="input-jobrole">@SearchConstants.Jobrolelabel</label>
                @if (jobRoleInvalid)
                {
                    @Html.ValidationMessageFor(m => m.JobRole, "", new { @class = "nhsuk-error-message" })
                }
                <input class="nhsuk-input @(jobRoleInvalid ? "nhsuk-input--error": string.Empty)" id="input-jobrole" no-validate asp-for="@Model.JobRole" name="jobrole" value="@Model.JobRole" type="text">
            </div>

            <input type="hidden" name="UserName" id="UserName" value="@Model.UserName" />
            <input type="hidden" name="Organisation" id="Organisation" value="@Model.Organisation" />
            <input type="hidden" name="OrganisationId" id="OrganisationId" value="@Model.OrganisationId" />
            <input type="hidden" name="EmailAddress" id="EmailAddress" value="@Model.EmailAddress" />
            <input type="hidden" name="DisplayName" id="DisplayName" value="@Model.DisplayName" />

            <div class="nhsuk-form-group @(organisationInvalid ? "nhsuk-form-group--error": string.Empty)">
                <label class="nhsuk-label" for="input-organisation">@SearchConstants.Organisationlabel</label>
                @if (organisationInvalid)
                {
                    @Html.ValidationMessageFor(m => m.Organisation, "", new { @class = "nhsuk-error-message" })
                }
                <input class="nhsuk-input @(organisationInvalid ? "nhsuk-input--error": string.Empty)" id="input-organisation" no-validate asp-for="@Model.Organisation" name="organisation" value="@Model.Organisation" type="text">
            </div>
            <div class="nhsuk-form-group @(accessRequestReasonInvalid ? "nhsuk-form-group--error": string.Empty)">
                <label class="nhsuk-label" for="input-accessrequestreason">@SearchConstants.Accessrequestreasonlabel</label>
                <div class="nhsuk-hint" id="input-accessrequestreason-hint-text">@SearchConstants.Accessrequestreasonhinttext</div>
                @if (accessRequestReasonInvalid)
                {
                    @Html.ValidationMessageFor(m => m.AccessRequestReason, "", new { @class = "nhsuk-error-message" })
                }
                <textarea class="nhsuk-textarea @(accessRequestReasonInvalid ? "nhsuk-textarea--error": string.Empty)" id="input-accessrequestreason" asp-for="@Model.AccessRequestReason" name="accessrequestreason" rows="5" aria-describedby="input-accessrequestreason-hint-text">@Model.AccessRequestReason</textarea>
            </div>
            <div class="nhsuk-form-group">
                <p>By clicking on "Submit", you agree to abide by the Appointment Checker <a target="_blank" href="/TermsAndConditions">Terms and Conditions</a>&nbsp;(opens in a new window)</p>
            </div>

            <button class="nhsuk-button" asp-page-handler="SendForm" type="submit">@SearchConstants.Submitbuttontext</button>
            <button class="nhsuk-button nhsuk-button--secondary" asp-page-handler="Clear" type="submit">@SearchConstants.Clearbuttontext</button>

            <p>@Html.Raw(string.Format(SearchConstants.Createaccountcanceltext, "/"))</p>
        </div>
    </div>
</form>