@using Microsoft.AspNetCore.Mvc.ModelBinding
@using gpconnect_appointment_checker.Helpers.Constants
@model gpconnect_appointment_checker.Pages.StatusCodeModel
@{
    ViewBag.Title = $"Error Code {Model.ResponseStatusCode}";
}

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
                    <h2 class="nhsuk-error-summary__title" id="error-summary-title">
                        @SearchConstants.StatusCodeErrorTitleText
                    </h2>
                    <div class="nhsuk-error-summary__body">
                        <span class="nhsuk-error-message">
                            <span class="nhsuk-u-visually-hidden">Status Code @Model.ResponseStatusCode:</span>
                            <h2>Error Code @Model.ResponseStatusCode - @Model.ReasonPhrase</h2>
                        </span>
                    </div>
                </div>
                <div class="nhsuk-action-link">
                    <a class="nhsuk-action-link__link" href="/">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                        </svg>
                        <span class="nhsuk-action-link__text">@SearchConstants.ReturnToHomePageText</span>
                    </a>
                </div>
            </div>
        </div>
    </main>
</div>