@using gpconnect_appointment_checker.Helpers.Constants
@model SearchModel

@if (!Model.ConsumerODSCodeFound && !Model.ProviderODSCodeFound)
{
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-warning-callout">
                <h3 class="nhsuk-warning-callout__label">@SearchConstants.IssueWithDdsCodesLabel</h3>
                <p>@string.Format(SearchConstants.IssueWithOdsCodesText, Model.ProviderOdsCode, Model.ConsumerOdsCode)</p>
            </div>
        </div>
    </div>
}
else if (!Model.ConsumerODSCodeFound && string.IsNullOrEmpty(Model.SelectedOrganisationType))
{
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-warning-callout">
                <h3 class="nhsuk-warning-callout__label">@SearchConstants.IssueWithConsumerOdscodeLabel</h3>
                <p>@string.Format(SearchConstants.IssueWithConsumerOdsCodeText, Model.ConsumerOdsCode)</p>
            </div>
        </div>
    </div>
}
else if (!Model.ProviderODSCodeFound)
{
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-warning-callout">
                <h3 class="nhsuk-warning-callout__label">@SearchConstants.IssueWithProviderOdscodeLabel</h3>
                <p>@string.Format(SearchConstants.IssueWithProviderOdsCodeText, Model.ProviderOdsCode)</p>
            </div>
        </div>
    </div>
}
else if (!Model.ProviderASIDPresent)
{
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-warning-callout">
                <h3 class="nhsuk-warning-callout__label">@SearchConstants.IssueWithGpConnectProviderLabel</h3>
                <p>@SearchConstants.IssueWithGpConnectProviderText</p>
            </div>
        </div>
    </div>
}
else if (!Model.ProviderEnabledForGpConnectAppointmentManagement)
{
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-warning-callout">
                <h3 class="nhsuk-warning-callout__label">@SearchConstants.IssueWithGpConnectProviderLabel</h3>
                <p>@string.Format(SearchConstants.IssueWithGpConnectProviderNotEnabledText, Model.ProviderOdsCode)</p>
            </div>
        </div>
    </div>
}
else if (!Model.CapabilityStatementOk || !Model.SlotSearchOk || Model.ProviderError != null)
{
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-warning-callout">
                <h3 class="nhsuk-warning-callout__label">@SearchConstants.IssueWithSendingMessageToProviderSystemLabel</h3>
                <p>@string.Format(SearchConstants.IssueWithSendingMessageToProviderSystemText, Model.ProviderError.Display, Model.ProviderError.Code)</p>
                <p>@Model.ProviderError.Diagnostics</p>
            </div>
        </div>
    </div>
}
else if (Model.LdapErrorRaised)
{
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-warning-callout">
                <h3 class="nhsuk-warning-callout__label">@SearchConstants.IssueWithLdapLabel</h3>
                <p>@SearchConstants.IssueWithLdapText</p>
            </div>
        </div>
    </div>
}
