@using gpconnect_appointment_checker.Helpers.Constants
@model SearchModel

@if (!Model.ConsumerODSCodeFound && !Model.ProviderODSCodeFound)
{
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-warning-callout">
                <h3 class="nhsuk-warning-callout__label">@SearchConstants.Issuewithodscodeslabel</h3>
                <p>@string.Format(SearchConstants.Issuewithodscodestext, Model.ProviderOdsCode, Model.ConsumerOdsCode)</p>
            </div>
        </div>
    </div>
}
else if (!Model.ConsumerODSCodeFound && string.IsNullOrEmpty(Model.SelectedOrganisationType))
{
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-warning-callout">
                <h3 class="nhsuk-warning-callout__label">@SearchConstants.Issuewithconsumerodscodelabel</h3>
                <p>@string.Format(SearchConstants.Issuewithconsumerodscodetext, Model.ConsumerOdsCode)</p>
            </div>
        </div>
    </div>
}
else if (!Model.ProviderODSCodeFound)
{
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-warning-callout">
                <h3 class="nhsuk-warning-callout__label">@SearchConstants.Issuewithproviderodscodelabel</h3>
                <p>@string.Format(SearchConstants.Issuewithproviderodscodetext, Model.ProviderOdsCode)</p>
            </div>
        </div>
    </div>
}
else if (!Model.ProviderASIDPresent)
{
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-warning-callout">
                <h3 class="nhsuk-warning-callout__label">@SearchConstants.Issuewithgpconnectproviderlabel</h3>
                <p>@SearchConstants.Issuewithgpconnectprovidertext</p>
            </div>
        </div>
    </div>
}
else if (!Model.ProviderEnabledForGpConnectAppointmentManagement)
{
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-warning-callout">
                <h3 class="nhsuk-warning-callout__label">@SearchConstants.Issuewithgpconnectproviderlabel</h3>
                <p>@string.Format(SearchConstants.Issuewithgpconnectprovidernotenabledtext, Model.ProviderOdsCode)</p>
            </div>
        </div>
    </div>
}
else if (!Model.CapabilityStatementOk || !Model.SlotSearchOk || Model.ProviderError != null)
{
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-warning-callout">
                <h3 class="nhsuk-warning-callout__label">@SearchConstants.Issuewithsendingmessagetoprovidersystemlabel</h3>
                <p>@string.Format(SearchConstants.Issuewithsendingmessagetoprovidersystemtext, Model.ProviderError.Display, Model.ProviderError.Code)</p>
                <p>@Model.ProviderError.Diagnostics</p>
            </div>
        </div>
    </div>
}
else if (Model.LdapErrorRaised)
{
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-warning-callout">
                <h3 class="nhsuk-warning-callout__label">@SearchConstants.Issuewithldaplabel</h3>
                <p>@SearchConstants.Issuewithldaptext</p>
            </div>
        </div>
    </div>
}
