@page
@model LogoutModel
@using gpconnect_appointment_checker.Helpers.Constants
@using gpconnect_appointment_checker.Helpers.Enumerations
@using gpconnect_appointment_checker.Helpers
@using gpconnect_appointment_checker.Helpers.Extensions
@{
    var userAccountStatus = User.GetClaimValue<UserAccountStatus>("UserAccountStatus");
}

@if (User.Identity.IsAuthenticated)
{
    @if (userAccountStatus != null)
    {
        <div style="color: #ffffff; font-style: italic">
            @User.GetClaimValue("Email")<br />
            @User.GetClaimValue("ODS")&nbsp;(@User.GetClaimValue("OrganisationName"))
        </div>

        @Html.ActionLink(@SearchConstants.SignoutButtonText, "Logout", "Auth", null, new { @style = "color:#ffffff" })
    }
}
