@using gpconnect_appointment_checker.Helpers.Constants

@model SearchModel

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <button class="nhsuk-button" asp-page-handler="ExportSearchGroup" asp-route-searchgroupid="@Model.SearchGroupId" type="submit">@SearchConstants.Exportsearchresultsbuttontext</button>
    </div>
</div>

@foreach (var searchResult in Model.SearchResultsSummary)
{
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <a id="@searchResult.SearchResultId"></a>
            <dl class="nhsuk-summary-list nhsuk-summary-list--no-border @searchResult.DisplayClass">
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">@SearchConstants.Searchresultssearchattext</dt>
                    <dd class="nhsuk-summary-list__value">
                        @if (searchResult.DisplayProvider)
                        {
                            <span>@searchResult.FormattedProviderOrganisationDetails</span>
                        }
                    </dd>
                    <dd class="nhsuk-summary-list__actions">&nbsp;</dd>
                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">@SearchConstants.Searchresultspublisherlabel</dt>
                    <dd class="nhsuk-summary-list__value">
                        @if (searchResult.DisplayProvider)
                        {
                            <span>@searchResult.ProviderPublisher</span>
                        }
                    </dd>
                    <dd class="nhsuk-summary-list__actions">&nbsp;</dd>
                </div>
                @if (searchResult.DisplayConsumer)
                {
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">@SearchConstants.Searchresultssearchonbehalfoftext</dt>
                        <dd class="nhsuk-summary-list__value">
                            <span>@searchResult.FormattedConsumerOrganisationDetails</span>
                        </dd>
                        <dd class="nhsuk-summary-list__actions">&nbsp;</dd>
                    </div>
                }
                @if (searchResult.DisplayConsumerOrganisationType)
                {
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">@SearchConstants.Searchresultssearchonbehalfofconsumerorgtypetext</dt>
                        <dd class="nhsuk-summary-list__value">
                            <span>@searchResult.ConsumerOrganisationType</span>
                        </dd>
                        <dd class="nhsuk-summary-list__actions">&nbsp;</dd>
                    </div>
                }
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">@SearchConstants.Searchdetailslabel</dt>
                    <dd class="nhsuk-summary-list__value">
                        @if (searchResult.SearchSummaryDetail != null)
                        {
                            @foreach (var detail in searchResult.SearchSummaryDetail)
                            {
                                <p>@detail</p>
                            }
                        }
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        @if (searchResult.DetailsEnabled)
                        {
                            <a class="nhsuk-button" href="/SearchDetail/@searchResult.SearchResultId">@SearchConstants.Searchdetailsbuttontext</a>
                        }
                        else
                        {
                            <button class="nhsuk-button nhsuk-button--disabled" type="button" disabled="disabled" aria-disabled="true">@SearchConstants.Searchdetailsbuttontext</button>
                        }
                    </dd>
                </div>
            </dl>
        </div>
    </div>
}