@using gpconnect_appointment_checker.Helpers
@using gpconnect_appointment_checker.Helpers.Constants
@model SearchDetailModel

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-care-card">
            <div class="nhsuk-care-card__heading-container">
                <h3 class="nhsuk-care-card__heading"><span role="text">@SearchConstants.SEARCHRESULTSSEARCHATTEXT</span></h3>
                <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
            </div>
            <div class="nhsuk-care-card__content">
                <p>@Model.SearchAtResultsText</p>
                <p><em>@SearchConstants.SEARCHRESULTSPUBLISHERLABEL</em>&nbsp;@Model.ProviderPublisher</p>
            </div>
        </div>
        <div class="nhsuk-care-card">
            <div class="nhsuk-care-card__heading-container">
                <h3 class="nhsuk-care-card__heading"><span role="text">@SearchConstants.SEARCHRESULTSSEARCHONBEHALFOFTEXT</span></h3>
                <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
            </div>
            <div class="nhsuk-care-card__content"><p>@Html.Raw(Model.SearchOnBehalfOfResultsText)</p></div>
        </div>

        <partial name="StatsCount" />

        @if (Model.SearchResultsTotalCount > 0)
        {
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">

                    <button class="nhsuk-button" asp-page="SearchDetail" asp-page-handler="ExportSearchResults" asp-route-searchexportid="@Model.SearchExportId" type="submit">@SearchConstants.EXPORTSEARCHRESULTSBUTTONTEXT</button>
                </div>
            </div>

            @if (Model.SearchResultsPastCount > 0)
            {
                <details class="nhsuk-details nhsuk-expander">
                    <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">@SearchConstants.SEARCHRESULTSPASTSLOTSTEXT</span>
                        <div class="nhsuk-inset-text nhsuk-details">
                            <span class="nhsuk-u-visually-hidden">Past Slots: </span>
                            <p>
                                These slots are for the current week, but they started before the current time and day.<br />
                                For technical reasons, only EMIS and Vision systems past slots can be displayed.<br />
                                These slots are not visible to end users, and cannot be booked into.
                            </p>
                        </div>
                    </summary>
                    <div class="nhsuk-details__text">
                        @foreach (var locationGrouping in Model.SearchResultsPast)
                        {
                            var firstLocation = locationGrouping.FirstOrDefault();

                            @if (firstLocation != null)
                            {
                                <h4>
                                    @firstLocation.LocationName<br />
                                    @if (!firstLocation.NoAddressProvided)
                                    {
                                        @firstLocation.LocationAddressLinesAsString
                                    }
                                    else
                                    {
                                        <em>@SearchConstants.SEARCHRESULTSNOADDRESSPROVIDEDTEXT</em>
                                    }
                                </h4>
                            }

                            <div class="nhsuk-table__panel-with-heading-tab">
                                <table role="table" class="nhsuk-table-responsive">
                                    <partial name="SearchResultsTableHeader" />
                                    <tbody class="nhsuk-table__body">
                                        @foreach (var t in locationGrouping)
                                        {
                                            <tr role="row" class="nhsuk-table__row">
                                                <td role="cell" class="nhsuk-table__cell">@t.AppointmentDate.DateFormatter("ddd dd MMM yyyy")</td>
                                                <td role="cell" class="nhsuk-table__cell">@t.SessionName</td>
                                                <td role="cell" class="nhsuk-table__cell">@t.StartTime.DateFormatter("t")</td>
                                                <td role="cell" class="nhsuk-table__cell">@t.Duration.UnitsFormatter("mins")</td>
                                                <td role="cell" class="nhsuk-table__cell">@t.SlotType</td>
                                                <td role="cell" class="nhsuk-table__cell">@t.DeliveryChannel</td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                    @t.PractitionerName
                                                    <div>@t.PractitionerRole</div>
                                                    <div>@t.PractitionerGender.FirstCharToUpper()</div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </details>
            }

            @if (Model.SearchResultsCurrentCount > 0)
            {
                foreach (var locationGrouping in Model.SearchResults)
                {
                    var firstLocation = locationGrouping.FirstOrDefault();
                    if (firstLocation != null)
                    {
                        <h4>
                            @firstLocation.LocationName<br />
                            @if (!firstLocation.NoAddressProvided)
                            {
                                @firstLocation.LocationAddressLinesAsString
                            }
                            else
                            {
                                <em>@SearchConstants.SEARCHRESULTSNOADDRESSPROVIDEDTEXT</em>
                            }
                        </h4>
                    }
                    <div class="nhsuk-table__panel-with-heading-tab">
                        <table role="table" class="nhsuk-table-responsive">
                            <partial name="SearchResultsTableHeader" />
                            <tbody class="nhsuk-table__body">
                                @foreach (var t in locationGrouping)
                                {
                                    <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">@t.AppointmentDate.DateFormatter("ddd dd MMM yyyy")</td>
                                        <td role="cell" class="nhsuk-table__cell">@t.SessionName</td>
                                        <td role="cell" class="nhsuk-table__cell">@t.StartTime.DateFormatter("t")</td>
                                        <td role="cell" class="nhsuk-table__cell">@t.Duration.UnitsFormatter("mins")</td>
                                        <td role="cell" class="nhsuk-table__cell">@t.SlotType</td>
                                        <td role="cell" class="nhsuk-table__cell">@t.DeliveryChannel</td>
                                        <td role="cell" class="nhsuk-table__cell">
                                            @t.PractitionerName
                                            <div>@t.PractitionerRole</div>
                                            <div>@t.PractitionerGender.FirstCharToUpper()</div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
        }
        else
        {
            <p>@SearchConstants.SEARCHRESULTSNOAVAILABLEAPPOINTMENTSLOTSTEXT</p>
        }
    </div>
</div>