@page
@model SearchModel

<form method="post">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="input-with-hint-text">Provider ODS code (search at):</label>
                <input class="nhsuk-input nhsuk-input--width-10" id="input-providerodscode" required asp-for="@Model.ProviderODSCode" name="providerodscode" type="text" aria-describedby="input-providerodscode">
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="input-with-hint-text">Consumer ODS code (search on behalf of):</label>
                <input class="nhsuk-input nhsuk-input--width-10" id="input-consumerodscode" required asp-for="@Model.ConsumerODSCode" name="consumerodscode" type="text" aria-describedby="input-consumerodscode">
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="input-with-hint-text">Date range:</label>
                <select asp-for="@Model.SelectedDateRange"
                        asp-items="@Model.DateRanges"
                        class="nhsuk-select"
                        name="daterange"
                        id="input-daterange">
                </select>
                <div style="float: right">
                    <button type="submit" class="nhsuk-button">Search for free slots</button>
                    <button type="submit" asp-page-handler="Clear" class="nhsuk-button nhsuk-button--secondary">Clear</button>
                </div>
            </div>
        </div>
    </div>

    @if (Model.SearchResults != null && Model.SearchResults.Count > 0)
    {
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-warning-callout">
                    <h3 class="nhsuk-warning-callout__label">Searching at / on behalf of:</h3><p>@Model.SearchAtResultsText<br />@Model.SearchOnBehalfOfResultsText</p>
                </div>
                <div class="nhsuk-table__panel-with-heading-tab">
                    <h3 class="nhsuk-table__heading-tab">Available Appointment Slots</h3>
                    <div class="nhsuk-table-responsive">
                        <table class="nhsuk-table-responsive">
                            <thead>
                                <tr class="nhsuk-table__row">
                                    @foreach (var column in Model.ResultColumns)
                                    {
                                        <th class="nhsuk-table__header" scope="col">@column</th>
                                    }
                                </tr>
                            </thead>
                            <tbody class="nhsuk-table__body">
                                <tr class="nhsuk-table__row">
                                    <td colspan="9" class="nhsuk-table__cell">
                                        <h4>Laurel Bank Surgery, North Lane, Skipton</h4>
                                    </td>
                                </tr>
                            @foreach (var searchResult in Model.SearchResults)
                                {
                                    <tr class="nhsuk-table__row">
                                        <td class="nhsuk-table__cell">@searchResult.AppointmentDate</td>
                                        <td class="nhsuk-table__cell">@searchResult.SessionName</td>
                                        <td class="nhsuk-table__cell">@searchResult.StartTime</td>
                                        <td class="nhsuk-table__cell">@searchResult.Duration</td>
                                        <td class="nhsuk-table__cell">@searchResult.SlotType</td>
                                        <td class="nhsuk-table__cell">@searchResult.DeliveryChannel</td>
                                        <td class="nhsuk-table__cell">@searchResult.Practitioner</td>
                                        <td class="nhsuk-table__cell">@searchResult.PractitionerRole</td>
                                        <td class="nhsuk-table__cell">@searchResult.PractitionerGender</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-inset-text">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    <p>Search took 1<text>s</text> and completed at @DateTime.Now.ToString("d MMM yyyy HH:mm:ss")</p>
                </div>
            </div>
        </div>
    }
</form>